---
import { getI18N } from '@i18n/index'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section id={i18n.SECTION_ABOUT_ID} class="scroll-mt-28">
  <div class="flex flex-col px-4 lg:md-0 mx-auto container py-24 w-full">
    <div class="flex w-full flex-col gap-3 lg:h-100.5 lg:flex-row">
      <div class="flex flex-col gap-1 lg:w-1/2 xl:w-5/8">
        <h2
          class="lg:text-8xl text-4xl uppercase font-medium max-w-lg"
          set:html={i18n.SECTION_PROJECT_TITLE}
        />
      </div>
      <div class="flex h-66 flex-col gap-3.5 lg:h-auto lg:w-1/2 xl:w-3/8">
        <p set:html={i18n.SECTION_PROJECT_SUBTITLE_1} class="text-4xl lg:text-5xl" />
        <p set:html={i18n.SECTION_PROJECT_SUBTITLE_2} class="text-2xl lg:text-3xl" />
      </div>
    </div>
  </div>
</section>
