---
import { languageList } from '@i18n/ui'
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from '@i18n/utils'

const route = getRouteFromUrl(Astro.url)
const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const otherLocales = Object.values(languageList).filter((locale) => locale.code !== lang)
---

<div class="flex gap-x-2">
  {
    otherLocales.map((locale) => (
      <a href={translatePath(`/${route ? route : ''}`, locale.code)}>{locale.name}</a>
    ))
  }
</div>
