---
import Link from '@components/Link.astro'
import IconLinkedin from '@icons/linkedin.svg'
import IconGithub from '@icons/github.svg'

interface Props {
  classes: string
  type1?: 'primary' | 'secondary'
  type2?: 'primary' | 'secondary'
}
const { classes, type1, type2 } = Astro.props as Props
---

<div class:list={['flex items-center', classes]}>
  <Link
    href="https://www.linkedin.com/in/sandrachambiluque/"
    text="LinkedIn"
    target="_blank"
    icon={{
      side: 'left',
    }}
    classes=`gap-1.5 ${type1}`
  >
    <IconLinkedin slot="icon" size={18} />
  </Link>
  <Link
    href="https://github.com/SandraLuque"
    text="Github"
    target="_blank"
    icon={{
      side: 'left',
    }}
    classes=`gap-1.5 ${type2}`
  >
    <IconGithub slot="icon" size={18} />
  </Link>
</div>
